@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root {
    --white-colour: #fff;
    --grey-colour: grey;
}

body {
    max-width: 1200px;
    margin: auto;
}

* {
    margin: 0;
    font-family: 'EB Garamond', serif;
}

img {
    width: 100%;
    height: auto;
}

header,
.banner {
    background: rgb(97, 97, 122);
    background: linear-gradient(90deg, rgba(11, 11, 13, 1) 50%, rgba(37, 40, 43, 1) 100%);
}

#slideshow {
    position: relative;
    width: 100%;
    height: 550px;
}

.read_more {
    display: none;
}

#slideshow>div {
    position: absolute;
}

header {
    padding: 20px;
}

h1,
h2 {
    color: var(--white-colour);
    text-align: center;
}

h1 span {
    color: var(--grey-colour);
}

ul {
    list-style: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

header nav ul li a {
    font-size: 12px;
    font-weight: 700;
    color: var(--white-colour);
}

.checkbox {
    display: none;
}

.banner img {
    height: 550px;
    object-fit: cover;
}

.slogan {
    padding: 20px;
}

.slogan h3 {
    color: var(--grey-colour);
    font-size: 30px;
}

.social ul {
    display: flex;
    flex-wrap: wrap;
}

.social ul li a {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(59, 58, 58);
    border-radius: 50%;
    margin: 5px;
    margin-left: 0;
}

.social i {
    color: var(--grey-colour);
    font-size: 28px;
}

/* MAIN - POSTS */
h4 {
    font-size: 25px;
    font-weight: 300;
}

.details h5 {
    font-size: 10px;
    color: #2c83b0;
}

.second_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article {
    padding: 40px;
    border-bottom: 1px solid rgb(204, 202, 202);
}

article img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid rgb(231, 231, 231);
}

button {
    width: 150px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: rgb(35, 137, 145);
    background: linear-gradient(90deg, rgb(35, 96, 145) 0%, rgba(79, 133, 186, 1) 65%);
    color: var(--white-colour);
    padding: 4px;
}

/* ASIDE */

aside {
    background: rgb(231, 231, 231);
    padding: 20px 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

aside>section {
    margin: 0 20px;
}

aside h4 {
    margin: 20px 0;
}

aside a {
    text-decoration: none;
    color: #2c83b0;
}

.sign_up {
    padding: 20px 0;
    list-style: none;
}

section:last-child p {
    margin-bottom: 20px;
}

nav .pagination {
    margin: 40px 0;
    padding: 0 40px;
}

.pagination {
    display: flex;
}

.pagination li {
    margin-left: 5px;
}

.page-item a {
    background-color: rgb(223, 223, 223);
    padding: 6px 10px;
    color: grey;
}

.active a.page-link {
    background-color: rgb(153, 153, 153);
    color: white;
}

/* LOGOS */

.third_container {
    padding: 40px;
    padding-bottom: 0;
}

.company_logos {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 15px;
}

.company_logos img {
    max-width: 150px;
    height: 60px;
    object-fit: contain;
    padding: 10px;
    border: 4px solid lightgray;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: black;
    color: var(--grey-colour);
}

footer>div {
    margin: 20px;
}

footer h4 {
    color: var(--white-colour);
    margin-bottom: 20px;
}

footer p,
.contact h5 {
    margin: 10px 0;
}

.about {
    max-width: 350px;
}

.about p:nth-child(3),
.contact h5 {
    color: #a3a3a3;
}

.about p:nth-child(3) {
    margin: 20px 0;
}

.contact li {
    line-height: 24px;
}

.stock {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.stream img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 5px;
}

.highlight {
    padding: 4px;
    background-color: #fff34d;
    -moz-border-radius: 5px;
    /* FF1+ */
    -webkit-border-radius: 5px;
    /* Saf3-4 */
    border-radius: 5px;
    /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
    /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
    /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
    /* Opera 10.5+, IE 9.0 */
}


/* MEDIA QUERIES */

@media (min-width: 800px) {
    article {
        max-width: calc(100vw - 300px);
        display: flex;
        flex-wrap: wrap;
    }

    article .details {
        max-width: 500px;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .inner_box {
        text-align: center;
    }

    .inner_box input {
        margin: 10px;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    header nav ul li {
        margin: 5px 10px;
    }

    footer {
        padding: 30px;
    }

    .contact ul,
    .about {
        text-align: left;
    }

}

@media (min-width: 1200px) {
    aside {
        width: 220px;
    }
}

@media (min-width: 1000px) {
    article .details {
        padding: 0 30px;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .inner_box {
        text-align: right;
    }

    h1 {
        text-align: left;
    }

    .slogan {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
    }

    .slogan h3 {
        max-width: 600px;
        padding: 20px 0;
    }

}

@media (max-width: 800px) {
    body {
        text-align: center;
    }

    .slogan ul {
        justify-content: center;
    }

    .bar_nav {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    .bar_nav .checkbox {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    .bar_nav span {
        display: block;
        width: 26px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #ECF0F1;
        border-radius: 3px;
        z-index: 1;
    }

    .bar_nav span:nth-child(3) {
        width: 20px;
    }

    .inner_box {
        text-align: left;
        position: absolute;
        right: -10px;
        width: 160px;
        height: 100vh;
        margin: -100px 0px 0 50px;
        padding: 50px;
        padding-top: 125px;
        background: rgba(43, 45, 46, 0.97);
        transform: translateX(350px);
    }

    header nav ul li {
        margin: 8px 0;
    }

    .bar_nav .checkbox:checked~.inner_box {
        transform: translateX(0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    aside {
        text-align: left;
        max-width: fit-content;
        margin: auto;
    }
}